/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "TimeRomans";
}
.header {
    background-color: #a52b2a;
    height: 15px;
    padding: 30px;
}
.header .dash {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
}
.dash ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    position: absolute;
    top: 5px;
    width: 100%;
    height: 5%;
    left: 750px;
    font-size: 20px;
}
.dash ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-variant: small-caps;
}
.dash ul li a:hover {
    color: lightblue;
    text-decoration: underline;
}
.main{}
.one, .two, .three {
    height: 25vh;
    position: relative;
    background-color: rgb(217, 228, 238);
}
*/



/* body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header {
    background-color: #a52b2a;
    height: 15px;
    padding: 30px;
}
.header .dash{
    display: none;
}
.header .show{
    padding-left: 75vw;
} 
.header .show:hover + .dash{
    display: block;
}

.one, .two, .three {
    height: 25vh;
    position: relative;
    background-color: rgb(217, 228, 238); 
}
*/

*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.wrapper{
    height: 10vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.wrapper .header{
    background-color: #a52b2a;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

.header .dash{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

.dash .show .btnShow{
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 17px;
    font-weight: 900;
}


@media(min-width: 968px){
    body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .header {
        background-color: #a52b2a;
        height: 0;
        padding: 5vw;
    }
    .header .show{
        display: none;
    }
    .header .dash {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: flex-start;
    }
    .dash ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5vw;
        position: relative;
        top: 1vh;
        height: 5vh;
        left: 50vw;
        font-size: 20px;
    }
    .dash ul li a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-variant: small-caps;
    }
    .dash ul li a:hover {
        color: lightblue;
        text-decoration: underline;
    }
    /* .main{
        
    } */
    .one, .two, .three {
        height: 25vh;
        position: relative;
        background-color: rgb(217, 228, 238); 
    }
}